
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f6;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #d63384;
}

.malla {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.semestre {
  border: 2px solid #f783ac;
  padding: 20px;
  border-radius: 15px;
  background-color: #ffe3ec;
}

.semestre h2 {
  color: #c2255c;
}

.materia {
  display: inline-block;
  margin: 8px;
  padding: 12px 16px;
  font-size: 14px;
  background-color: #f8d7e6;
  color: #a61e4d;
  border: 2px solid #f783ac;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.materia.bloqueada {
  background-color: #f3f0f3;
  border-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.materia.aprobada {
  background-color: #eebefa;
  color: white;
  border-color: #da77f2;
}
